In [6]:

import pandas as pd
import numpy as np

import mongo_queries
from utility_cloud import get_local, return_color, make_coords

import datetime as dt
from datetime import timedelta
from pandas.api.types import CategoricalDtype
import pydeck as pdk
import pytz

sites = mongo_queries.get_updating_list()
names = mongo_queries.ids_to_names(sites)
names = [i['name'] for i in names]
items = []

In [7]:
f = {'name':'Coutts'}

In [8]:
hist = pd.DataFrame(mongo_queries.get_hist_data(f)) # get the data

In [9]:
hist

             timezone                 utc  wait
0    America/Edmonton 2021-08-30 20:20:00     0
1    America/Edmonton 2021-08-30 20:30:00     0
2    America/Edmonton 2021-08-30 20:40:00     0
3    America/Edmonton 2021-08-30 20:50:00     0
4    America/Edmonton 2021-08-30 21:00:00     0
..                ...                 ...   ...
916  America/Edmonton 2021-11-25 15:40:00     0
917  America/Edmonton 2021-11-25 15:50:00    12
918  America/Edmonton 2021-11-25 16:00:00    27
919  America/Edmonton 2021-11-25 16:10:00    50
920  America/Edmonton 2021-11-25 16:20:00    16

[921 rows x 3 columns]

In [11]:
utc = hist.utc

In [15]:
utc[0]

Timestamp('2021-08-30 20:20:00')

In [10]:
hist.dtypes

timezone            object
utc         datetime64[ns]
wait                 int64
dtype: object

In [17]:
hist.utc = hist.utc.dt.to_pydatetime()

In [18]:
utc1 = hist.utc

In [19]:
utc1[0]

Timestamp('2021-08-30 20:20:00')