In [1]:
import mongo_queries

In [2]:
col = mongo_queries.col

In [6]:
ids = list(col.find({},{'id':1,'_id':0}))
ids = [x['id'] for x in ids]
ids

[817,
 453,
 365,
 311,
 523,
 367,
 891,
 621,
 215,
 819,
 218,
 711,
 212,
 409,
 200,
 893,
 219,
 832,
 441,
 231,
 833,
 308,
 318,
 334,
 368,
 518,
 615,
 522,
 835,
 607,
 376,
 335,
 307,
 834,
 216,
 337,
 610,
 222,
 332,
 4271,
 330,
 220,
 818,
 895,
 896,
 836,
 841,
 225,
 214,
 619,
 410,
 203,
 507,
 707,
 816,
 705,
 217,
 341,
 620,
 616,
 505,
 328,
 618,
 708,
 362,
 369,
 478,
 375,
 339,
 813,
 524,
 502,
 302,
 828,
 427,
 226,
 506,
 205,
 314,
 336,
 452,
 617,
 329,
 815,
 508,
 354,
 351,
 892,
 706,
 612,
 213,
 503,
 333,
 366,
 324,
 4272,
 439,
 521,
 709,
 840,
 370,
 230,
 602,
 517,
 488,
 440,
 520,
 456,
 613,
 475,
 331,
 824,
 822,
 509,
 211,
 516,
 519]

In [7]:
len(ids)

117

In [8]:
run = mongo_queries.run

In [9]:
ids[0]

817

In [12]:
ind = list(run.find({'crossing_id':456}))

In [13]:
ind[-1]

{'_id': ObjectId('619e43485ecd38ab54e063c0'),
 'utc': datetime.datetime(2021, 11, 24, 13, 50),
 'crossing_id': 456,
 'name': 'Landsdowne (Thousand Islands Bridge)',
 'wait': 0}

In [15]:
def migrate(id):
    data = list(run.find({'crossing_id':id},{'utc':1,'wait':1,"_id":0}))
    col.update_one({'id':id},{'$set':{'wait_times':data}})

In [16]:
migrate(456)

In [17]:
for x in ids:
    print(x)
    migrate(x)

817
453
365
311
523
367
891
621
215
819
218
711
212
409
200
893
219
832
441
231
833
308
318
334
368
518
615
522
835
607
376
335
307
834
216
337
610
222
332
4271
330
220
818
895
896
836
841
225
214
619
410
203
507
707
816
705
217
341
620
616
505
328
618
708
362
369
478
375
339
813
524
502
302
828
427
226
506
205
314
336
452
617
329
815
508
354
351
892
706
612
213
503
333
366
324
4272
439
521
709
840
370
230
602
517
488
440
520
456
613
475
331
824
822
509
211
516
519